

body{
  font-family: "Roboto", sans-serif;
  text-align: center;

  background-color: rgb(0, 0, 0);
  color:white;
}

.header-div{
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)), url(./assets/movie_collage.png);
  text-align: left;
  margin: 0px;
}

.header-title{
  font-size: 3vi;
  margin-top: 0vh;
  margin-left: 3vw;
}

/*
.header-title{
  height: 30vh;
  margin: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 12vi;
  font-weight: 300;
  background-color: none;
}

.header-button-div{

  background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 0px 1px rgb(255, 255, 255);
    border-radius: 24px;
    display: inline-block;
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
  transition: all 500ms ease; 
}


.header-button{
  border-radius: 22px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vi;
  background-color: transparent;
  border: 0px solid transparent;
  margin: 2px;
  color: white;
  cursor: pointer;
  transition:         all 0.5s ease;
}

.header-button:hover{
  color: white;
}

.header-button.active{
  color: black;
  box-shadow: inset 0px 0px 1px 100px rgb(255, 255, 255);
} */

.card-div{
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 10vi;
  border: 0 solid red;
  border-radius: 10px;
  margin: 1.2vi;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.card-img{
  width: 100%;
  border: 0px solid red;
  border-radius: 10px;
  display: block;
}

.card-details{
  position: absolute;
  z-index: 1;
  margin: 0;
  font-size: 0.8vi;
  font-weight: 200;
  width: 100%;
  height: 100%;
  border: 0 solid red;
  border-radius: 10px;
  
  
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 0, 0, 0);
  transition-duration: 0.25s;
}

.card-div:hover .card-details{
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.7);
  transition-duration: 0.25s;
}

.card-div:hover .card-img{
  filter: blur(4px);
  transition-duration: 0.25s;
}

.details-backdrop{
  object-fit: cover;
  height: 97vh;
  width: 99vw;
  display: flex;
  filter: brightness(60%) blur(5px);
}

.details-info-div {
  font-family: "Roboto Condensed";

  position: fixed;
  top: 50px; /* or wherever you want it */
  left: 50px; /* adjust as needed */
  z-index: 2;
  padding: 2vh 3vw;
  display: inline-block;
  text-align: left;
  border-radius: 10px;
  max-width: 40vw; /* optional: to avoid overflowing the screen */
}

.details-name{
  font-size: 4vw;
}

.details-release-date{
  font-size: 0.8vi;
  margin-top: 1.2vi;
  font-weight: 200;

  font-size:calc(2px + 0.8vi);
}

.details-desc{
  font-size: 0.8vi;
  margin-top: 1.2vi;
  font-weight: 200;

  font-size:calc(2px + 0.8vi);
}

.details-rating{
  font-size: 0.8vi;
  margin-top: 1.2vi;
  margin-left: 1.2vi;
  display: inline;
  font-weight: 200;

  font-size:calc(2px + 0.8vi);
}

.rating-img{
 max-width: 0.8vi;
 max-height: 0.8vi;
 margin-right: 4px;
}