body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;

  background-color: rgb(0, 0, 0);
  color:white;
}

.header-div{
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)), url(./assets/movie_collage.png);
}

.header-title{
  height: 30vh;
  margin: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 12vi;
  background-color: none;
  /* background-image: linear-gradient(rgba(70, 196, 255, 0.45), rgba(0, 0, 0, 0)); */
}

.header-button-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-button{
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  padding: 1vi;
  font-size: 1.5em;
  border-radius: 5px;
  margin: 1vi;
  box-shadow: inset 0px 0px 1px 1px rgb(255, 255, 255);
  color: white;
}

.header-button:hover{
  box-shadow: inset 0px 0px 500px 500px rgb(255, 255, 255);
  color: black;
}

.card-div{
  background-color: rgb(10, 10, 10);
  color: white;
  width: 250px;
  height: 400px;
  max-width: 250px;
  text-align: center;
  border: 0 0 0 red;
  box-shadow: 0px 0px 0px rgb(255, 255, 255);
  border-radius: 25px;
  display: inline-block;
  margin: 25px;
  transition-duration: 0.15s;
}

.card-div:hover{
  box-shadow: -0.1px 0px 10px rgb(161, 161, 161);
  transition-duration: 0.15s;
}

.card-img{
  width: 100%;
  height: 60%;
  border: 0 0 red;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}

.card-title{
  /* background-color: red; */
  height: 80px;
  font-size: 22px;
  margin: 5px;
}

.card-desc{
  /* background-color: red; */
  font-size: 15px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 50%;
}

.details-backdrop{
  object-fit: cover;
  height: 97vh;
  width: 99vw;
  display: flex;
  filter: brightness(60%) blur(5px);
}

.details-info-div {
  position: fixed;
  top: 50px; /* or wherever you want it */
  left: 50px; /* adjust as needed */
  z-index: 2;
  padding: 2vh 3vw;
  display: inline-block;
  text-align: left;
  border-radius: 10px;
  max-width: 40vw; /* optional: to avoid overflowing the screen */
}

.details-name{
  font-size: 4vw;
  line-height: 100%;
}

.details-release-date{
  font-size: 0.8vi;
  margin-top: 20px;
}

.details-desc{
  font-size: 0.8vi;
  margin-top: 20px;
}